@import '../Lato/latoFont.css';

.row-reverse-flex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.row-flex{
  display: flex;
  flex-direction: row;
}
.column-flex{
  display: flex;
  flex-direction: column;
}
.center{
  align-items: center;
  justify-content: center;
}
*{
  font-family: Lato;
}
.wrap{
  flex-wrap: wrap;
}
.whole-width{
  width: 100%
}
.hide{
  display: none;
}
.show{
  display: flex;
}